<h1>This notebook belongs to Liviu Petre and will be used for the capstone project for the "IBM Data Science Professional" specialization. Looking forward to it!</h1>

In [39]:
#first import the needed libraries; only panda for now
import pandas as pd

<h3>In order to read the table, I will use the read_html method, and identify the first wikitable</h3>

In [40]:
url = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url, attrs={"class": "wikitable"})[0] # 0 is for the 1st table in this particular page
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<h3>We will start now cleaning the data frame as specified. First, drop the lines where Boroughs are Not assigned</h3>

In [41]:
#clean up Borough = Not assigned
df.drop(df[df.Borough == "Not assigned"].index, inplace=True)
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h3>According to instructions: "If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.". We will check if there is any such case</h3>

In [42]:
# check any Not assigned  neighborhood
df[df.Neighbourhood == "Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

<h4>No such case exists!</h4>

<h3>Next we will check if more than one neighborhood can exist in one postal code area. For this we will first group by postal code and see how many rows we have and compare to the original data frame</h3>

In [43]:
#check if more than one neighborhood can exist in one postal code area
df[['Postal Code','Borough']].groupby(['Postal Code']).agg('count')

             Borough
Postal Code
M1B                1
M1C                1
M1E                1
M1G                1
M1H                1
...              ...
M9N                1
M9P                1
M9R                1
M9V                1
M9W                1

[103 rows x 1 columns]

<h4>Grouping by postal code gives 103 rows</h4>

In [44]:
#check number of rows in data frame
df.shape

(103, 3)

<h4>So we have the same number of rows as in the grouping above, 103. This means each postal code appears once, so, as you can see from the wikipedia page, the neighbourhoods area already joined in the same boroughs</h4>

<h3>We now reset the index and rename the columns exactly as the exercise requires </h3>

In [45]:
df.reset_index(drop=True, inplace=True)
df.columns=["PostalCode","Borough","Neighborhood"]
df.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h3>And last, we call the shape method</h3>

In [46]:
df.shape

(103, 3)